body {
  background-image: url("https://steemitimages.com/DQmPKnH91pkB1mo4DXCQDJg9mVYJ6rDVhoZsvtgxprXqxoH/deck-cards-18354636.jpg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}